<style type="text/css">{  }
 #donotremove
 {
 background-color:#000000;}

.playlist { 
	background-color: #4E63B4;
	/*background-image: url('http://www.live365.com/images/dot.gif');}*/

 
 -->
 </STYLE>