.playlistdata, .playlistbody, .playlist, .odd, .even, A:link, A:visited, A:active, A:hover
{
	background: rgba(0, 0, 0, 0.15);
	background-attachment: fixed;
  	background-position : -15px -106px;
  	background-repeat: no-repeat;

}

.playlisthdr {
}

.odd {
}

.even {
}

.imagemode .artist {
	font-size: 			15px;
	font-weight: 		bold;
	line-height: 		18px;
	}

.imagemode .title {
	font-size: 			11px;
	font-weight: 		medium;
	font-style: 		normal;
	line-height: 		14px;
	}

.imagemode .time {
	font-size: 			11px;
	font-weight: 		medium;
	line-height: 		14px;
	}

.imagemode .album {
	font-size: 			11px;
	font-weight: 		medium;
	line-height: 		14px;
	}

.nowplaying, A.nowplaying:link, A.nowplaying:visited, A.nowplaying:active, A.nowplaying:hover {
	color: 				#FFFFFF;
	}

A.nowplaying:hover, A.playlist:hover, A.embeddedlink:link, A.embeddedlink:visited, A.embeddedlink:active, A.embeddedlink:hover {
	color: 				#FFFFFF;
	}

A.embeddedlink:link, A.embeddedlink:visited, A.embeddedlink:active, A.embeddedlink:hover {
}

.nowplaying { 
	font-family: 		Georgia, Times New Roman, Times;
	font-size: 			11px;
	font-weight: 		bold;
	color: 				#ffffff;
	}
	
a.nowplaying:link { 
	color: 				#ffffff;
	font-weight: 		bold;
	text-decoration: 	none;
	}
	
a.nowplaying:hover { 
	font-weight: 		bold;
	color: 				#ffffff;
	text-decoration: 	none;
	}

a.nowplaying:visited {
	font-weight: 		bold;
	color: 				#ffffff;
	text-decoration: 	none;
	}

a.nowplaying:active { 
	font-weight: 		bold;
	color: 				#ffffff;
	text-decoration: 	none;
	}