/* General elements */
* {
	margin:0;
	padding:0
}
body {
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #050000;
	background:#ebebeb;
}
a {
	outline:none;
	text-decoration:underline;
	color: #1b76bb;
}
a:hover {
	text-decoration:none;
}
img {
	border: 0;
	outline: none;
}
img.left {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
img.right {
	float:right;
	margin-left:20px;
	margin-bottom:20px;
}
p {
	margin-bottom:10px;
	padding:0;
}
hr { clear:both; margin:0 0 15px;}
input.text,
input[type=text],
textarea {
	border:0;
	font: 12px Arial, Helvetica, sans-serif;
	outline:none;
	width:266px;
	padding:4px 7px 2px;
	color: #050000;
	resize: none;
	box-shadow: none;
}
input.text,
input[type=text] {
	background:url(../images/bg-input.jpg) no-repeat;
}
textarea {
	background:url(../images/bg-textarea.jpg) no-repeat;
	width:317px;
	height:85px;
	overflow: auto;
}
select {
	border:0;
	color: #050000;
	font: 12px Arial, Helvetica, sans-serif;
	height: 24px;
	min-width: 100px;
	outline: medium none;
	padding: 0 0 0 4px;
}
input.text {
	height:20px;
}
.field .text {
}
input:focus,
.field .text:focus,
textarea:focus {
}
.field label {
	margin-left:0px;
	margin-bottom:5px;
}
.field label.left {
	margin-right:0;
	font-size:14px;
	float:none;
	color: #000;
	display:block;
	line-height:26px;
}
.field {
	margin-bottom:10px;
	clear:both;
}
#Remember label.right {
	float:none;
	margin-right:0;
	margin-left:0;
}
fieldset {
	border:0;
}
.Actions {
	margin-top:15px;
}
input[type=submit] {
	cursor:pointer;
	color: #fff;
	border:0;
	outline:none;
	text-transform: uppercase;
	padding:3px 5px;
	height:25px;
	background:#050000;
	font-size:14px;
	font-weight:bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
input[type=submit]:hover {
	background-color:#002b44;
}
label.required,
label.error {
	display: block;
	font-size: 11px;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 3px;
	margin-top: 0 !important;
	text-align:left;
	color:red;
	float:none !important;
	font-style:italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	text-transform: capitalize;
	color:#b5121b;
	margin-bottom:5px;
}
h1 {
	font-size:24px;
	line-height:30px;
}
h2 {
	font-size:22px;
	line-height:28px;
}
h3 {
	font-size:20px;
	line-height:23px;
}
h4 {
	font-size:18px;
	line-height:20px;
}
h5 {
	font-size:16px;
	line-height:18px;
}
h6 {
	font-size:14px;
	line-height:15px;
}
ul,
ol {
	margin:0 0 10px 30px;
	padding:0
}
ul li {
	list-style:disc outside;
	padding-left:10px;
	margin-bottom:10px;
}
ol li {
	list-style:decimal outside;
	padding-left:10px;
	text-align:justify;
	margin-bottom:10px;
}
/* ========================================================================================== */
/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* ========================================================================================== */
/* Layout */
#MainContainer {
	min-width:1000px;
}
#Header,
#MainContent,
#Footer {
	width:100%;
}
#MainContent {
	min-height:250px;
}
#Header,
#MainContent,
#Footer {
	clear:both;
}
/* ========================================================================================== */
/* Header */
#Header {
	background:#000;
	padding-top:40px;
	padding-bottom:6px;
}
.HeaderContainer {
	width: 967px;
	margin:0 auto;
	background:url(../images/bg-header.jpg) no-repeat top center;
}
.logo {
	float:left;
	margin:7px 0 5px 44px;
}
.logo a img{
    width: 240px;
    height: 75px;
}
form.search {
	float:right;
	margin: 17px 38px 23px 0;
}
form.search input.text {
	background:url(../images/bg-search-input.jpg) no-repeat;
	float:left;
	border:0;
	width:130px;
	padding:4px 14px 0px;
	height:20px;
	font-weight:bold;
	color: #636466;
}
form.search button {
	float:right;
	background: #000;
	color: #fff;
	text-transform:uppercase;
	border:0;
	font-size:14px;
	font-weight:bold;
	padding:3px 5px;
	cursor:pointer;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	padding:5px 5px 5px 5px \0/;
}
ul.menu {
	float:right;
	margin:0 38px 0 0;
	background:#b5121b;
	height:23px;
	max-width:610px;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}
ul.menu li {
	list-style:none;
}
ul.menu > li.first a {
	border-radius: 10px 0px 0 0;
	-moz-border-radius: 10px 0px 0 0;
	-webkit-border-radius: 10px 0px 0 0;
}
ul.menu > li {
	float:left;
	padding-left:0;
	margin:0;
	background:url(../images/bg-nav-div.png) no-repeat top right;
	padding-right:3px;
	position:relative;
}
ul.menu > li.last {
	background:none;
	padding:0;
}
ul.menu > li.last a {
	border-radius: 0px 10px 0 0;
	-moz-border-radius: 0px 10px 0 0;
	-webkit-border-radius: 0px 10px 0 0;
}
ul.menu > li > a {
	display:block;
	line-height:23px;
	font-weight:bold;
	color: #fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	padding: 0 27px;
}
ul.menu > li.current > a,
ul.menu > li > a:hover {
	background:url(../images/bg-nav-active.png) repeat-x top;
}
ul.menu > li > a span {
	font-weight:normal;
	text-transform:none;
}
#nav ul {
	background:#b5121b;
	list-style:none;
	position:absolute;
	left:-99999px;
	z-index: 1000;
	border-top:1px solid #353535;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	min-width:126px;
	margin-top:0;
}
#nav ul li {
	float:none;
	border-bottom: 1px solid #4e080b;
	border-top: 1px solid #aa4046;
	margin-left:0;
	padding-left:0;
	margin-bottom:0
}
#nav ul li.first,
#nav ul li:first-child,
#nav li:hover ul li.first:hover,
#nav li:hover ul li:first-child:hover {
	border-top: 0;
}
#nav ul li.last,
#nav ul li:last-child,
#nav ul li.last a,
#nav ul li:last-child a,
#nav ul li.last a:hover,
#nav ul li:last-child a:hover {
	border-bottom: 0;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}
#nav ul a {
	white-space:nowrap;
	padding: 0px 8px;
	color: #fff;
	text-decoration:none;
	font-size:12px;
	display:block;
	border-top: 1px solid #ba212a;
	line-height:20px;
	text-transform:uppercase;
}
#nav li:hover ul {
	left:-32px;
	background: #b5121b;
}
#nav li:hover ul li:hover {
	border-top: 1px solid #000;
}
#nav li:hover ul li a:hover {
	background: #000;
	border-top: 1px solid #000;
}
/* ========================================================================================== */
/* Footer */
#Footer {
	background: #b5121b;
	border-top: 6px solid #000;
	position:relative;
}
.footer-logo {
	margin: 0 0 10px 62px;
	float:left;
}
.FooterContainer {
	background: #d6d6d6;
	width:967px;
	margin:0 auto;
	border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	-webkit-border-radius: 0 0 20px 20px;
}
.footer-nav {
	float:right;
    max-width: 650px;
	margin: -22px 36px 0 0;
}
.footer-nav li {
	list-style:none;
	margin-bottom:0;
	padding-left:0;
}
.footer-nav li a {
	text-decoration:none;
	text-transform:uppercase;
	color: #050000;
	display:block;
	line-height:16px;
}
.footer-nav li li a b { font-weight:normal;}
.footer-nav li a:hover {
	text-decoration:underline;
}
.footer-nav > li {
	float:left;
}
.footer-nav > li > a {
	background:url(../images/bg-nav-bottom-div.png) no-repeat top right #050000;
	border-top: 0px solid #837f7f;
	padding-right:3px;
}
.footer-nav ul {
	margin:15px 0 0 0;
}
.footer-nav > li > a b {
	text-decoration:none !important;
	color: #fff;
	display:block;
	font-weight:bold !important;
	font-size:14px;
	line-height: 22px;
	padding: 0 28px 0 28px;
	background: #050000;
}
.footer-nav > li:last-child > a {
	background: none !important;
	padding-right:0px !important;
}
.footer-nav > li.last > a {
	background: none !important;
	padding-right:0px !important;
}
.footer-nav > li > a:hover b,
.footer-nav > li.current > a b {
	background:url(../images/bg-nav-bottom-active.png) repeat-x top;
}
.footer-nav > li.first > a,
.footer-nav > li:first-child > a,
.footer-nav > li.first > a b,
.footer-nav > li:first-child > a b {
	border-radius: 10px 0 0 0px;
	-moz-border-radius: 10px 0 0 0px;
	-webkit-border-radius: 10px 0 0 0px;
}
.footer-nav > li.last > a b,
.footer-nav > li:last-child > a b {
	border-radius: 0 10px 0px 0;
	-moz-border-radius: 0 10px 0px 0;
	-webkit-border-radius: 0 10px 0px 0;
}
.footer-nav > li > a span {
	font-weight:normal !important;
	text-transform: none;
}
.footer-nav > li ul {
	margin-left:15px;
}
.footer-nav > li ul li a { max-width:120px; word-wrap: break-word;}
.footer-nav > li + li ul {
	margin-left:25px;
}
.footer-nav > li + li + li ul {
	margin-left:15px;
}
.footer-nav > li + li + li ul {
	margin-left:30px;
}
.footer-nav > li + li + li + li ul {
	margin-left:30px;
}
.footer-copy {
	width:920px;
	margin:0 auto;
	padding-bottom: 55px;
}
.footer-copy p,
.footer-copy a {
	color: #fff;
	text-decoration:none;
	font-weight:bold;
}
.footer-copy a:hover {
	text-decoration:underline;
}
.copyright {
	margin:10px 0;
}
.copyright span {
	display:inline-block;
}
.copyright span.div {
	margin:0 9px;
	margin:0 8px \0/;
}
.footer-copy p {
	float:left;
}
.footer-copy p + p {
	float:right
}
.sign {
	text-align:right;
	float:right;
	margin-right:75px;
	color: #fff;
	text-transform:lowercase;
}
.sign span {
	float: left;
	line-height:20px;
        font-weight: normal;
}
.sign img {
	float:left;
	margin:0 5px;
}
/* ========================================================================================== */
/* MainContent */
#MainContent {
	background:url(../images/bg-body.jpg) repeat-y center top;
	width:1003px;
	margin:0 auto;
}
.social {
	background:url(../images/bg-sc.jpg) no-repeat top center;
	width:967px;
	padding:10px 18px 7px;
	margin:0 auto;
	min-height:31px;
}
.social span {
	float:left;
	text-transform:uppercase;
	font-weight:bold;
	margin-left:45px;
	line-height:30px;
	margin-right:15px;
	font-size:16px;
}
.social img {
	margin-right:6px;
}
.content {
	padding:0 36px 35px;
}
/* ========================================================================================== */
/* Homepage */
.slider {
	background: #ebebeb;
	padding:20px 30px;
	margin:0 0 11px 0;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
.slider ul {
	margin:0;
	padding:0;
	height:330px;
	width:823px;
	overflow-y: auto;
	overflow-x: hidden;
}
.slider ul li {
	background:none;
	list-style:none;
	padding:0;
	margin:0;
}
.article {
	margin-bottom:20px;
	background:#fff;
}
.article-item {
	float:left;
	width:254px;
	margin-left:0;
	padding: 0 25px;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NjAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRUZFRkUiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5NjApIiAvPgo8L3N2Zz4=);
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
.article-item + .article-item {
	margin-left:9px;
}
.article-title {
	border-bottom:6px solid #030000;
	margin-bottom:10px;
}
.article-title h1 {
	float:left;
	font-size:30px;
	text-transform:capitalize;
	margin-bottom:0;
	margin-top:20px;
	letter-spacing:-1px;
}
.article-title img {
	float:right;
}
.article-content {
	line-height:15px;
	margin-bottom:8px;
	display:block;
	height:145px;
}
.article-content p {
	margin-bottom: 10px;
}
.article-link {
	padding:0 20px 0 23px;
}
.article-link a {
	color: #fff;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	background:url(../images/bg-ar-btn.png) no-repeat center;
	text-align:center;
	display:block;
	padding:8px 0 15px;
	line-height:27px;
	text-decoration:none;
}
.article-link a:hover {
	text-decoration:underline;
}
.updates {
	clear:both;
	background:#fff;
}
.updates .left-col {
	float:left;
	width:350px;
}
.updates .right-col {
	float:right;
	width:570px;
}
.updates .media { margin-left:0;}
.block {
	margin-bottom:17px;
}
.block .block-title {
	border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	background: #b5121b;
	text-align:center;
	color: #fff;
	font-weight:bold;
	font-size:16px;
	line-height:32px;
}
.block .block-content {
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NjAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRUZFRkUiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5NjApIiAvPgo8L3N2Zz4=);
	background-repeat:repeat-x;
	border-radius: 0px 0 15px 15px;
	-moz-border-radius: 0px 0 15px 15px;
	-webkit-border-radius: 0px 0 15px 15px;
	padding:20px;
}
.fsFieldRow input[type="text"], .fsFieldRow input[type="email"], .fsFieldRow input[type="number"], .fsFieldRow input[type="tel"], .fsForm textarea {}
.newsletter {background: url("../images/bg-search-input.png") no-repeat scroll 0 0 transparent!important; height: 24px; width:271px;}
.newsletter .fsForm .fsFieldRow input {
	background: none;
	border: 0 none;
	color: #636466;
	float: left;
	font-weight: bold;
	height: 20px;
	padding: 4px 14px 0;
	width: 180px;
}
.newsletter label.fsLabel{display: none;}
.newsletter .fsForm div{padding: 0!important;}
.newsletter form{
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    margin: auto !important;
}
.newsletter .fsForm .fsSubmit{
    background: none repeat scroll 0 0 transparent;
    clear: none;
    float: left;
    margin: auto;
    padding: 0;
}
.newsletter .fsForm .fsSubmit input.fsSubmitButton{
    background: none repeat scroll 0 0 #000000;
    border: 0 none;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 10px 2px !important;
    text-transform: uppercase;
}
.fsBody .fsRowBody{padding: 0 !important;}
.newsletter button {
	background: none repeat scroll 0 0 #000000;
	border: 0 none;
	border-radius: 0 5px 5px 0;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 10px;
	text-transform: uppercase;
	padding-top:5px \0/;
	padding-bottom:5px \0/;        
}
.newsletter div.fsValidationError input.fsFormatEmail{color: #FF0000!important;}
div.fsError{display: none;}
.rss {
	background:url(../images/icon-tw-block.png) no-repeat top center #b5121b;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding:53px 10px 17px;
}
.rss-content {
	border:6px solid #cc5b62;
	width:317px;
	height:350px;
}
.rss-content iframe { height:350px !important;}
.media .spon-content,
.media .spon-content p {
	float:left;
	width:235px;
	font-size:14px;
	line-height:16px;
        margin: 0 10px;
}
.media .spon-content p {
	color: #050000;
}
.media .block-content {
	padding-bottom:0;
}
.media .spon-slider {
	float:right;
	width:235px;
	height:101px;
}
.media .spon-slider a {
	display:block;
}
#spon {
	width:235px;
	height:101px;
}
.spon-slider .anythingSlider-default {
	padding:0;
}
.spon-slider .anythingSlider-default .anythingWindow {
	border: 0;
}
.frc-tab {
	margin-bottom:17px;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	background: #050000;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	border: 0px solid #999999;
	border-left: none;
	font-weight: bold;
	font-size:16px;
	color:#fff;
	text-align:center;
	overflow: hidden;
	position: relative;
	width:50%;
	list-style:none;
	padding-left:0;
	margin-bottom:0;
	border-radius: 15px 15px 0px 0;
	-moz-border-radius: 15px 15px 0px 0;
	-webkit-border-radius: 15px 15px 0px 0;
}
ul.tabs li:hover {
	background: #b5121b;
}
ul.tabs li.active {
	background: #b5121b;
	border-bottom: 0px solid #FFFFFF;
}
.tab_container {
	border: 0px;
	clear: both;
	float: left;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NjAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRUZFRkUiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5NjApIiAvPgo8L3N2Zz4=);
	border-radius: 0px 0 15px 15px;
	-moz-border-radius: 0px 0 15px 15px;
	-webkit-border-radius: 0px 0 15px 15px;
	padding:0 20px 0px;
	min-height:169px;
}
.tab_content {
	padding: 0px 0;
	display: none;
	background:url(../images/icon-tab-radio.png) no-repeat 410px top;
	width:530px;
}
.tab_content.news-tab{
	background:url(../images/incon-tab-newsfeed.png) no-repeat right top;
	background-size:70px 60px !important;
}
.frc-content {
	background:url(../images/icon-tab-tv.png) no-repeat center top;
	width:100%;
}
.frc-content .title {
	font-size:16px;
	font-weight:bold;
	display:block;
	line-height:60px;
}
.frc-content ul {
	margin:0;
	padding:0
}
.frc-content li {
	/*background: url(../images/bg-tab-row.png) repeat-x;*/
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.14, rgb(225,225,225)), color-stop(0.5, rgb(251,251,251)), color-stop(0.6, rgb(255,255,255)) );
	padding:0 20px 0 10px;
	list-style:none;
	margin-bottom:0;
}
.frc-content li a {
	background:url(../images/icon-tab-row.png) no-repeat left center;
	padding-left:20px;
	float:left;
	width:70%;
	line-height:25px;
	color:#050000;
	text-decoration:none;
}
.frc-content li a:hover {
	text-decoration:underline;
}
.frc-content li span {
	float:right;
	width:25%;
	line-height:25px;
	text-align:right;
}
.frc-content .link {
	text-align:right;
	padding-right:20px;
	margin-top:10px;
}

.frc-content.news-feed{

}

.frc-content.news-feed .view-all{
	text-align:right;
}

.frc-content.news-feed .news-entry{
	margin:0 0 5px 0;
	padding:9px 30px 9px 30px;
	position:relative;
	border-left:3px solid #dedcdc;
	z-index:1;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 40%, #fbfbfb 50%, #e1e1e1 86%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(50%,#fbfbfb), color-stop(86%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 40%,#fbfbfb 50%,#e1e1e1 86%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 40%,#fbfbfb 50%,#e1e1e1 86%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 40%,#fbfbfb 50%,#e1e1e1 86%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 40%,#fbfbfb 50%,#e1e1e1 86%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
}

.frc-content.news-feed .news-entry:before{
	content:"";
	display: block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
	background-image: url(../images/icon-tab-row.png);
	background-repeat:no-repeat;
	background-position: 7.5px center;
}

.frc-content.news-feed h3{
	color: #1b76bb;
	font-size:14px;
	line-height: 18px;
}

.frc-content.news-feed h3 a{
	text-decoration:none;
}

.frc-content.news-feed span{
	margin:-2.5px 0 0 0;
	font: normal 12px/12px Arial;
	color:#b1b1b1;
	display:block;
}

.frc-content.news-feed p{
	margin:5px 0 0 0;
	font: normal 12px/14px Arial,
}

.block.media a{
	text-decoration:none !important;
}
/* ========================================================================================== */
/* MainRight content */
.MainLeft {
	float:left;
	width:620px;
}
.MainRight {
	float:right;
	width:291px;
	margin-top:56px;
	margin-bottom:150px;
}
.MainRight .block.signup {
	margin-bottom:28px;
}
.MainRight .newsletter input.text {
	width:162px;
}
.joinclass {
	background: #b5121b;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding:22px 16px;
	margin-bottom:25px;
}
.joinclass div img {
	float:left;
	margin-right: 16px;
	margin-top:9px;
}
.joinclass div p {
	padding-top:15px;
	padding-right:5px;
	color: #fff;
	margin-bottom:0;
}
.visitspon {
}
.visitspon .visit-title {
	float:left;
	background: #050000;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	line-height:23px;
	font-size:16px;
	padding: 0 17px;
	font-style:italic;
	font-weight:bold;
	color: #fff;
	text-transform:capitalize;
}
.visitspon .visit-content {
	background: #050000;
	text-align:center;
	padding: 5px 0;
	clear:both;
}
.page-title {
	margin-top:8px;
	padding-left:23px;
	line-height:39px;
	background:url(../images/bg-page-title.jpg) no-repeat top left;
	margin-bottom:42px;
}
.page-title h2 {
	color: #fff;
	line-height:39px;
	margin-bottom:0;
}
.about-content {
	line-height:15px;
	margin:0 28px 18px 42px;
}
.about-content img {
	border:5px solid #050000;
}
.about-content img.left {
	margin-right:30px;
}
.about-content img.right {
	margin-left:30px;
}
.about-mission {
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NjAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRUZFRkUiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5NjApIiAvPgo8L3N2Zz4=);
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	padding:12px 25px 25px;
	margin-bottom:130px;
}
.about-mission h5 {
	border-bottom: 6px solid #050000;
	margin-bottom:17px;
	line-height:30px
}
.about-mission .mission-content {
	margin-left:17px;
	margin-bottom:60px;
	margin-right:13px;
}
.about-mission .mission-hour {
	margin-left:17px;
	margin-right:13px;
}
.about-mission .mission-hour ul {
	margin-left:0;
	margin-bottom:0;
}
.about-mission .mission-hour li {
	margin-left:0;
	margin-bottom:0;
	list-style: none;
}
/* Contact page */
.contact {
	margin-left:55px;
	margin-right:15px;
}
.information {
	padding-top:25px;
}
.information .infor {
	float:left;
	font-weight:bold;
	line-height:16px;
}
.userform .information{
    padding-top: 0;
}
.userform .information .infor{
    font-weight: normal;
}
.userform ul.optionset li{
    list-style: none;
    padding: 0;
}
.userform ul.optionset{
    margin: 0;
}
.userform select.dropdown{
    padding: 0;
    height: auto;
    border: 1px solid #EBEBEB
}
.information .map {
	float:right;
	background: url(../images/bg-map.jpg) no-repeat top left;
	padding:11px 22px 0px 12px;
}
.information .map a {
	display:block;
	text-align:center;
	margin-top:16px;
}
.contact .form {
	clear:both;
	margin-top:30px;
}
.contact .form div.field.text label.left {
	float:left;
	width:55px;
}
/* Form Name here */
.form-name div.field label.left {
	float:left;
	width:100px;
}
.form-name div.field.text {
	margin-bottom:10px;
}
.form-name div.field.textarea {
	margin-top:30px;
	margin-bottom:30px;
}
.form-name div#captcha,
.form-name div.Actions {
	margin-left:100px;
}
/* Gallery */
.photo {
	margin-left:42px;
	margin-right:28px;
	margin-bottom:50px;
}
div.item {
	margin-bottom:30px;
}
.calendar div.item {
	margin-bottom:18px;
}
div.item a.item-img {
	display:block;
	float:left;
	border:5px solid #050000;
	position:relative;
	height:155px;
	width:197px;
	margin-right:10px;
}
.calendar div.item a.item-img {
	height:127px;
	width:162px;
	margin-right:20px;
}
div.item span {
	position:absolute;
	bottom: 0;
	background:#b5121b;
	color: #fff;
	text-align:center;
	text-transform: capitalize;
	font-size:16px;
	line-height:23px;
	display:block;
	width:100%;
	font-weight:bold;
}
div.item .item-infor {
	float: left;
	margin-top:-10px;
	width:332px;
}
.calendar div.item .item-infor {
	width:358px;
}
div.item .item-infor h5 a {
	color:#b5121b;
	font-size:24px;
	font-weight:bold;
	line-height:35px;
	border-bottom:5px solid #050000;
	margin-bottom:15px;
	text-decoration:none;
	display:block;
}
div.item .item-infor p {
	padding-right:20px;
}
.photo h2 {
	line-height:35px;
	border-bottom:5px solid #050000;
	margin-bottom:15px;
	display:block;
}
.photo-content {
	padding:0 8px 0 20px;
}
.facebook {
	display:block;
	height:17px;
	margin-bottom:17px;
}
#gallery {
	margin-top: 20px;
	margin-bottom:0;
	margin-left:-10px;
}
#gallery li {
	list-style:none;
	float:left;
	padding-left:0;
	margin-left:10px;
	margin-bottom:38px;
}
#gallery li a {
	display:block;
	height:98px;
	width:123px;
}
#gallery li img {
	border:5px solid #050000;
}
.view-calendar {
	margin-bottom:22px;
	background:#b5121b;
	padding:7px 16px;
}
.view-link a {
	background: url("../images/icon-arrow-calendar.png") no-repeat scroll right top transparent;
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	padding-right: 85px;
	text-align: center;
	text-decoration: none;
}
.paging {
	text-align:right;
	margin-top:33px;
}
.paging a.previous,
.paging a.next {
	text-decoration:none;
}
.event-img {
	float:right;
	margin-left:25px;
	margin-bottom:15px;
}
.event-img > img {
	border:5px solid #050000;
	margin-bottom: 12px;
}
.link-control {
	margin-top:20px;
}
.link-control a.previous {
	float:left;
}
.link-control a.next {
	float:right;
	text-align:right;
}
.fb-feed {
	border:2px solid #838080;
	margin-top:20px;
}
.media-article img {
	border:5px solid #050000;
}
.block-media {
	margin-bottom:43px;
}
.block-media .media-title {
	background: #050000;
	color: #fff;
	font-size:16px;
	text-align:center;
	font-weight:bold;
	display:block;
	line-height:20px;
	padding-top:5px;
}
.block-media img {
	border:5px solid #050000;
}
.block-media a {
	text-decoration:none;
	position:relative;
	min-height:127px;
	display: block;
}
.block-media a span {
	display:block;
	background:url(../images/bg-ar-view.png) no-repeat center;
	text-align:center;
	color: #fff;
	text-transform:uppercase;
	font-size:16px;
	text-decoration:none;
	line-height:38px;
	padding:8px 5px 16px 0;
	font-weight:bold;
	position:absolute;
	width:100%;
	bottom:-30px;
}
.media-content {
	background: #050000;
}
.search-result {
	margin-top:20px;
	margin-left:0;
}
.search-result li {
	list-style: none;
	padding-left:0;
}
.search-result li a,
.search-result li b {
	font-size:14px;
	line-height:15px;
}
.search-result li p {
	margin-top:2px;
	text-align:left;
}
/* FRC Connect */
.frc-connect-logo {
	margin-bottom: 12px;
	margin-top:-75px;
	text-align:center;
}
.frc-news .block-content {
	padding:6px 10px;
}
.frc-news .title {
	background: url("../images/icon-slider-story.png") no-repeat scroll right top transparent;
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 50px;
	margin: 0 20px 0 10px;
}
.frc-news ul {
	margin:0;
	padding:0
}
.frc-news li {
	background-image: linear-gradient(bottom, rgb(225,225,225) 14%, rgb(251,251,251) 50%, rgb(255,255,255) 60%);
	background-image: -o-linear-gradient(bottom, rgb(225,225,225) 14%, rgb(251,251,251) 50%, rgb(255,255,255) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(225,225,225) 14%, rgb(251,251,251) 50%, rgb(255,255,255) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(225,225,225) 14%, rgb(251,251,251) 50%, rgb(255,255,255) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(225,225,225) 14%, rgb(251,251,251) 50%, rgb(255,255,255) 60%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.14, rgb(225,225,225)), color-stop(0.5, rgb(251,251,251)), color-stop(0.6, rgb(255,255,255)) );
	border-top: 1px solid #ff3f3;
	border-left: 1px solid #ff3f3;
	border-right: 1px solid #ff3f3;
	padding:0 20px 0 10px;
	list-style:none;
	margin-bottom:0;
}
.frc-news li a {
	background: url("../images/icon-arrow-news.png") no-repeat scroll right 5px transparent;
	color: #050000;
	display: block;
	line-height: 15px;
	padding: 5px 55px 5px 0;
	text-decoration: none;
}
.frc-news li a:hover {
	text-decoration:underline;
}
.frc-news .link {
	text-align:right;
	padding-right:20px;
	margin-top:10px;
}
.media {
	margin-left:25px;
}
.media h5 {
	line-height:30px;
	border-bottom:5px solid #050000;
	font-size:24px;
}
.media p {
	margin:10px 0 10px 17px;
	line-height:15px;
}
.media p a {
	display:block;
	margin-top:5px;
}
.media .tw .rss {
	float:left;
	width:46%;
	margin-bottom:20px;
}
.media .tw .rss + .rss {
	float:right;
}
.media .tw .rss-content {
	width: 250px;
    overflow: hidden;
}
.media .fb {
	border:1px solid #b8b7b8;
	margin:5px 0;
}
.radio-content img {
	border:5px solid #050000;
}
.program {
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NjAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRUZFRkUiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5NjApIiAvPgo8L3N2Zz4=);
	background-repeat:repeat-x;
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	padding:10px 25px;
	clear:both;
}
.program h5 {
	line-height:30px;
	border-bottom:5px solid #050000;
	margin-bottom: 20px;
}
.program p {
	margin:20px 20px;
}
.program ul {
	margin:10px 0 0;
}
.program ul li {
	list-style:none;
	background:#ebebeb;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	padding:5px 20px;
	width:41%
}
.program ul li a {
	text-decoration:none;
	color: #050000;
}
.program ul li a:hover {
	text-decoration:underline;
}
.schedulepage .program ul li {
    padding: 3px;
    margin-right: 0;
}
.schedulepage .program ul.date-select li{width: 12%;}
.radio-content .facebook {
	margin-left: 15px;
	margin-top: 25px;
}
.radio-content .facebook img {
	border:0;
}
.frc-tv .block-content {
	padding:6px 10px;
}
.frc-tv .title {
	font-size:16px;
	font-weight:bold;
	display:block;
	line-height:60px;
	background:url(../images/icon-tab-tv.png) no-repeat right;
}
.frc-tv ul {
	margin:0;
	padding:0
}
.frc-tv li {
	background-image: linear-gradient(bottom, rgb(225,225,225) 14%, rgb(251,251,251) 50%, rgb(255,255,255) 60%);
	background-image: -o-linear-gradient(bottom, rgb(225,225,225) 14%, rgb(251,251,251) 50%, rgb(255,255,255) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(225,225,225) 14%, rgb(251,251,251) 50%, rgb(255,255,255) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(225,225,225) 14%, rgb(251,251,251) 50%, rgb(255,255,255) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(225,225,225) 14%, rgb(251,251,251) 50%, rgb(255,255,255) 60%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.14, rgb(225,225,225)), color-stop(0.5, rgb(251,251,251)), color-stop(0.6, rgb(255,255,255)) );
	border-top: 1px solid #ff3f3;
	border-left: 1px solid #ff3f3;
	border-right: 1px solid #ff3f3;
	padding:0 5px 0 5px;
	list-style:none;
	margin-bottom:0;
}
.frc-tv li a {
	background:url(../images/icon-tab-row.png) no-repeat left 5px;
	float:left;
	width:57%;
	padding: 5px 0 5px 20px;
	color:#050000;
	text-decoration:none;
}
.frc-tv li a:hover {
	text-decoration:underline;
}
.frc-tv li span {
	float:right;
	line-height:25px;
	text-align:right;
}
.frc-tv .link {
	text-align:right;
	padding-right:5px;
	margin-top:10px;
}
.program .item {
	margin-left:20px;
	margin-top:15px;
}
.program .item a.tv-img {
	display:block;
	float:left;
	border:5px solid #050000;
	position:relative;
	width:125px;
	height:75px;
	margin-right: 12px;
}
.program .item a img.tv-view {
	position:absolute;
	top:0;
	left:0;
}
.program .item .item-content {
	float:left;
	width: 400px;
}
.program .item .item-content h5 {
	border-bottom:0;
	margin-bottom:0;
}
.program .item .item-content h5 a {
	text-decoration: none;
	color: #b5121b;
	font-weight:bold;
	display:block;
	font-size:16px;
	margin-top:-7px;
	margin-bottom:0px;
}
.program .item .item-content p {
	margin:0;
}
.program h2 {
	line-height:30px;
	border-bottom:5px solid #050000;
}
.program .more {
	text-align:right;
	margin:20px 0;
}
.program .schedule {
	clear:both;
}
.program .schedule li {
	float:none;
	width:93%;
}
.program .schedule li span {
	display:block;
	float:left;
	width:100px;
}
.program ul.date-select li {
	float:left;
	width:5%;
	background:none;
}
.program ul.date-select li a {
	text-decoration:underline;
	color: #1B76BB;
}
.fb-video {
	text-align:center;
	margin-top:20px;
}
.video-sample {
	text-align:center;
	padding:20px 0 0;
}
#audioplayer #player_api{
	height: 150px;
    width: 570px;
}
div.ConstantContactWidget .block-content{
    padding: 10px;
}
div.ConstantContactWidget .block-content .fsPage{
    width: 204px;
}
div.ConstantContactWidget .block-content .fsSubmit .fsSubmitButton{padding: 3px;}
.visitspon #spon {
	width:279px;
	height:90px;
}
.visitspon .anythingSlider-default {
	padding:0;
}
.visitspon .anythingSlider-default .anythingWindow {
	border: 0;
}
.fb_edge_widget_with_comment {
    float: left;
    margin-right: 10px;
}
.twitter-share-button { float:left; width:90px !important;}
.schedulepage .program ul li a.current{text-decoration: underline!important;}
.HomePage .FRCTVGuide ul li a, .HomePage .FRCRadioGuide ul li a, .FRCTVChannelGuideWidget .frc-tv ul li a, .schedulepage .program ul li a, .FRCRadioChannelGuideWidget .frc-tv ul li a{
    text-decoration: none!important;
}
input#recaptcha_response_field{
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: #FFFFFF;
    background-image: none !important;
    background-origin: padding-box !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
    background-size: auto auto !important;
}
#recaptcha_widget_div #recaptcha_area{
	width: auto!important;
}
.middleblock{ padding:15px 40px 25px;}
.middleblock a{ float:left; display:block; width:50%; text-align:left;}
.middleblock a + a { float:right; text-align:right;}