/*** ESSENTIAL STYLES ***/
.sf-menu,
.sf-menu * { margin: 0; padding: 0; list-style:		none; }
.sf-menu { line-height:	1.0; margin-top:5px; }
.sf-menu > li { background:none !important;}
.sf-menu ul { position:	absolute; top: -999em; width: 10em; /* left offset of submenus need to match (see below) */ }
.sf-menu ul li { width: 100%; }
.sf-menu li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }
.sf-menu li { float: left; position: relative; }
.sf-menu a { display: block; position: relative; }
.sf-menu li:hover ul,
.sf-menu li.sfHover ul { left: 0; top: 34px; /* match top ul list item height */ z-index: 99; }
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul { top: -999em; }
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul { left: 10em; /* match ul width */ top:	0; }
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul { top: -999em; }
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul { left: 10em; /* match ul width */ top: 0; }
/*** DEMO SKIN ***/
.sf-menu { float: left; margin-bottom: 1em; }
.sf-menu ul { box-shadow: 2px 2px 6px rgba(0, 0, 0, .2); }
.sf-menu a { border-left: 0px solid #fff; border-top: 0px solid #CFDEFF; padding: 0 1em; text-decoration:none; line-height: 34px; }
.sf-menu > li > a { display:block; line-height:34px; color: #050000; text-decoration:none; text-transform:uppercase; font-size:14px; padding: 0 20px; border-left:2px solid #f6e028; border-right:2px solid #f6e028; }
.sf-menu > li.current > a,
.sf-menu > li:hover > a,
.sf-menu > li.current:hover > a { border-left:2px solid #fff; border-right:2px solid #fff; background:#e3cd19; }
.sf-menu > li.current,
.sf-menu > li:hover ,
.sf-menu > li.current:hover{}
.sf-menu a,
.sf-menu a:visited { /* visited pseudo selector so IE6 applies text colour*/ color:	#050000; }
.sf-menu li { background: #BDD2FF; }
.sf-menu li li { background: #AABDE6; }
.sf-menu li li li { background: #9AAEDB; }
.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active { background: #CFDEFF; outline: 0; }
/*** arrows **/
.sf-menu a.sf-with-ul { padding-right: 2.25em; min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */ }
.sf-sub-indicator { position: absolute; display: block; right: .75em; top: 1.05em; /* IE6 only */ width: 10px; height:			10px; text-indent: -999em; overflow: hidden; background: url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */ }
a > .sf-sub-indicator {  /* give all except IE6 the correct values */ top: .8em; background-position: 0 -100px; /* use translucent arrow for modern browsers*/ }
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator { background-position: -10px -100px; /* arrow hovers for modern browsers*/ }
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator { background-position: -10px 0; /* arrow hovers for modern browsers*/ }
