input.text { display:inline; line-height:24px; padding-top: 0; height:24px;}
form.search input.text,
.newsletter input.text { display:inline; line-height:24px; padding-top: 0; height:24px;}
span.message.required {display: block; font-size: 12px; margin-bottom: 0 !important; margin-left: 0 !important; margin-right: 3px; margin-top: 0 !important; text-align: right; color:red; float:none !important;}
.required {display: block; font-size: 12px; margin-bottom: 0 !important; margin-left: 0 !important; margin-right: 3px; margin-top: 0 !important; text-align: right; color:red; float:none !important;}
form.search button { background:url(../images/bg-search-btn.png) no-repeat right top;}
.newsletter button{ background:url(../images/bg-search-btn.png) no-repeat right top;}
.article-item,
.block .block-content,
.tab_container,
.about-mission,
.program  {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#fefefe');
}
.frc-news li {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
}
.footer-link,
.slider-container,
.MainLeft,
.MainRight { background: #fff;}
#nav > li.first > a { background:url(../images/bg-nav-ie.jpg) no-repeat left top;}
#nav > li.last > a { background:url(../images/bg-nav-ie.jpg) no-repeat right top;}
#nav > li.first.current > a,
#nav > li.first > a:hover {
	background:url(../images/bg-nav-active-ie.jpg) no-repeat left top;
}
#nav > li.last.current > a,
#nav > li.last > a:hover {
	background:url(../images/bg-nav-active-ie.jpg) no-repeat right top;
}
#nav ul,
#nav li:hover ul  { background:none;}
#nav ul li { background:url(../images/bg-nav-sub-ie.png) repeat-x bottom; background-color: none;}
#nav ul li:hover { background:url(../images/bg-nav-sub-active-ie.png) repeat-x bottom;}
#nav ul li.last {background:url(../images/bg-nav-sub-last-ie.png) no-repeat bottom; border-bottom:0; background-color: none;}
#nav ul li.last:hover {background:url(../images/bg-nav-sub-last-active-ie.png) no-repeat bottom; border-bottom:0;}
ul.tabs { background:url(../images/bg-tab-ie.jpg) no-repeat center top;}
ul.tabs li:hover,
ul.tabs li.active { background:url(../images/bg-tab-active-ie.png) no-repeat center top;}
.footer-nav > li.first > a b{ background:url(../images/bg-bottom-nav-ie.jpg) no-repeat left top;}
.footer-nav > li.last > a b{ background:url(../images/bg-bottom-nav-ie.jpg) no-repeat right top;}
.footer-nav > li.first.current > a b,
.footer-nav > li.first > a:hover b{
	background:url(../images/bg-bottom-nav-active-ie.jpg) no-repeat left top;
}
.footer-nav > li.last.current > a b,
.footer-nav > li.last > a:hover b{
	background:url(../images/bg-bottom-nav-active-ie.jpg) no-repeat right top;
}